<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  </head>
  <body>
      <h1><%= title %></h1>
    <div id="app">
      <div v-for="item in postLists"> 
        <a v-bind:href="item.url">{{item.title}}</a>
      </div>
    </div>
  </body>
</html>


<script>
  new Vue({
    el:'#app',
    data:{
      postLists:[]
    },
    mounted:function(){
      axios.get('/api/posts').then(res=>{
        this.postLists = res.data.postLists;
        this.postLists.forEach(function(element) {
          element.url = `/posts/show?id=${element._id}`
        });
      }).catch(err=>{
        alert(err.message);
      });
    }
  });
</script>